.analytics-filter-container{
    display: flex;
    justify-content: space-between;
}

.analytics-filter-left{
    flex: 1;
    margin: 20px;
}

.analytics-filter-products-text{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.analytics-select {
    padding: 10px;
    margin-right: 20px;
}

.analytics-website-usage-container{
    display: flex;
    justify-content: space-between;
}

.analytics-website-usage{
    flex: 1;
    margin:20px;
}