@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.singleProduct-container {
    display: flex;  
    justify-content: space-between;
    
}

.productImage-container {
    flex: 2;
    display: flex;
}

.productImage-container > img {
    margin-top: 50px;
    width: 500px;
    margin-bottom: 30px;
}

.productName{
    margin: 10px;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.productDetail {
    padding: 40px;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productPrice {
    margin: 10px;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.productInfo {
    flex:3;
}

.cart-add-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-amount-container{
    margin:10px;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.cart-amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.cart-delete-btn{
    margin-left: 60px;
    cursor: pointer;
    font-weight: 500;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    
  }
  .cart-delete-btn:hover{
      background-color: black;
      color:white;
  }

  .line{
      background-color: #eee;
      border: 2px;
      height: 1;
  }

  .fa-minus{
    cursor: pointer;
  }

  .fa-plus{
      cursor: pointer;
  }