.cart-container {
    background-color: white;
    width:100%;
    height:100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.cart-wrapper > h1{
    font-weight: 300;
    text-align: center;
    font-size: 50px;
    color:black;
    
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1400px;
}


.cont-shopping-btn {
    
    padding: 20px;
    font-weight: 300;
    cursor: pointer;
    border: 1.5px solid black;
    background-color: white;
    transition: all 0.3s ease-out;
}

.checkout-btn{
    padding: 20px;
    width: 180px;
    font-weight: 300;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.4s ease-out;
}

.checkout-btn:hover{
    background-color: white;
    color:black;
    
}

.cont-shopping-btn:hover {
    background-color: black;
    color:white;
}

.bottom-wrapper {
    display: flex;
    
}

.summary-container{
    margin-top: 20px;
    flex:1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px 0px 50px;
    height: 30vh;
    width: 50vh;
}

.summary-container > h1{
    font-weight: 300;
    padding-left: 100px;
}

.summary-item{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.emptyCart {
    font-weight: 300;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}