.wrapper{
  padding: 50px;
  display: flex;
  align-items: center;
}

.img-container{
    flex: 1;
}

.single-product-img{
  width: 100%;
  height: 90vh;
  object-fit: contain;
}

.info-container{
  flex: 1;
  /* padding: 0px 50px; */
  padding-left: 100px;
}

.product-title{
    font-weight: 1200;
    font-size: 40px;
}

.product-desc{
    margin: 20px 0px;
    width: 50%;
}

.product-price,.product-review{
  font-weight: 100;
  font-size: 40px;
}

.add-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.amount-container{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.amount{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.cart{
  padding: 15px;
  /* border: 2px solid teal; */
  border: 2px solid rgb(119, 122, 122);
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  
}
.cart:hover{
    background-color: #f8f4f4;
}
.product-bt{
    display: flex;
    flex-direction: column;
}
.product-brand{
    margin-top:15px;
}

.product-type{
    margin-top: 10px;
}

.review-container{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.review-title{
  font-weight: 80;
  font-size: 30px;
}

.product-review-input{
  width: 50%;
  font-size: 18px;
  height: 70px;
}
.review-button{
  width: 20%;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  border: 2px solid rgb(119, 122, 122);
  background-color: white;
}
.review-button:hover{
  background-color: #f8f4f4;
}