.title-browse{
  margin: 20px;
}

.filter-container{
  display: flex;
  justify-content: space-between;
}

.filter-left{
  flex: 1;
  margin: 20px;
}
.filter-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.filter-products-text{
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.select {
    padding: 10px;
    margin-right: 20px;
}
.search-input{
    border: none;
}
.search-container {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}
.error-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.error-container>h1{
  font-size: 70px;
  font-weight: 100;
  margin-right: 20px;
}