.checkout-container {
    width:100%;
    height:120vh;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('/public/images/signIn_background.jpg') center center/cover
    no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-wrapper {
    background: linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26,23,23) 100%);
    padding: 10px;
    width: 40%;
    height: 90%;
    border-radius: 30px;
}

.checkout-wrapper > h1 {
    color: #fff;
    font-size: 70px;
    justify-content: center;
    display: flex;
    margin: 30px 0px 20px 0px;
    align-items: center;
}

.checkout-wrapper > form > h3 {
    color: #fff;
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 30px 0px 20px 0px;
    align-items: center;
}


.checkout-wrapper > form {
    display: flex;
    flex-direction: column;
}

.checkout-wrapper > form > input {
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.btns-container-checkout{
    align-self: center;
    margin-top: 10px;
    padding: 20px;
}

.name-container{
    display: flex;
    flex-direction: row;
}
.name-container >input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.cityprovince-container{
    display: flex;
    flex-direction: row;
}
.cityprovince-container >input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.countryzipcode-container{
    display: flex;
    flex-direction: row;
}

.countryzipcode-container > input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.cardnumbercvv-container{
    display: flex;
    flex-direction: row;
}
.cardnumbercvv-container > input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}