.signIn_container {
    width:100%;
    height:80vh;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('/public/images/signIn_background.jpg') center center/cover
    no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn_wrapper {
    background: linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26,23,23) 100%);
    padding: 10px;
    width: 40%;
    height: 55%;
    border-radius: 30px;
}

.signIn_wrapper > h1 {
    color: #fff;
    font-size: 70px;
    justify-content: center;
    display: flex;
    margin: 30px 0px 20px 0px;
    align-items: center;
}

.signIn_wrapper > form {
    display: flex;
    flex-direction: column;
}

.signIn_wrapper > form > input {
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.signIn-btns {
    align-self: center;
    padding: 20px;
}

.sign-up-link{
    color: #fff;
    justify-content: center;
    display: flex;
    font-size:20px;
}

.error-thrown{
    color:red;
    padding-left:10px;
}