.signUp_container {
    width:100%;
    height:120vh;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('/public/images/signIn_background.jpg') center center/cover
    no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp_wrapper {
    background: linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26,23,23) 100%);
    padding: 10px;
    width: 40%;
    height: 90%;
    border-radius: 30px;
}

.signUp_wrapper > h1 {
    color: #fff;
    font-size: 70px;
    justify-content: center;
    display: flex;
    margin: 70px 0px 20px 0px;
    align-items: center;
}

.signUp_wrapper > form > h3 {
    color: #fff;
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 30px 0px 20px 0px;
    align-items: center;
}

.signUp_wrapper > form {
    display: flex;
    flex-direction: column;
}

.signUp_wrapper > form > input {
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.signUp-btns {
    align-self: center;
    padding: 40px;
}

.signup-name-container{
    display: flex;
    flex-direction: row;
}
.signup-name-container >input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.signup-cityprovince-container{
    display: flex;
    flex-direction: row;
}
.signup-cityprovince-container >input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.signup-countryzipcode-container{
    display: flex;
    flex-direction: row;
}

.signup-countryzipcode-container > input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.signup-cardnumbercvv-container{
    display: flex;
    flex-direction: row;
}
.signup-cardnumbercvv-container > input{
    flex:1;
    min-width: 40%;
    margin: 10px 20px 5px 10px;
    padding: 10px;
}

.error-thrown{
    color:red;
    padding-left:10px;
}
