video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.body-container{
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.body-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.body-container > p {
    color: #fff;
    font-size: 32px;
    margin-top: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.body-btns {
    margin-top:32 px;
}

.body-btns .btn{
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .body-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .body-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }
}
