@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navbar{
    background: linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26,23,23) 100%);
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    /* flex:1; */
    width: 11%;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.1rem;
    display: flex;
    justify-content: space-between;
}


.nav-menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.4rem 1rem;
    height: 100%;

}

.nav-links:hover{
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: #fff;
}

.menu-icon{
    display: none;
}

.cart-logo{
    color: #fff;
    margin-left: 20px;
    padding-left: 45px;
    padding-top: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}
.cart-logo:hover{
    color: purple;
    transition: all 0.2s ease-out;
}
