.product-img{
  display: flex;
  align-items: center;
  flex:3;
  height: 60%;
  width: 90%;
  z-index: 2;
  padding: 5px;
  object-fit: contain;

}
.product-name{
  display: flex;
  align-items: center;
  flex:1;
  margin-top: 20px;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.6);
}
.product-container:hover{
    box-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}
.product-container{
  flex: 1;
  flex-direction: column;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  border: 0.5px solid rgba(90, 90, 90, 0.5);
  justify-content: flex-end;
  /* background-color: #f5fbfd; */
  background-color: white;
  position: relative;
  transition: all 0.5s ease;
  /* TODO: ADD HOVER EFFECT */
  /* &:hover ${Info}{
    opacity: 1;
  } */
}